body {
  background-color: black;
  color: #00ff00;
  font-family: "Courier New", monospace;
  padding: 20px;
  white-space: pre;
}

* {
  font-family: "Courier New", monospace;
}
a {
  color: #00ff00;
  font-size: 1em;
  text-decoration: none;
  margin: 0;
  line-height: 1;
  padding: 0;
}

a:hover {
  color: black;
  background-color: #00ff00;
}

.checkbox input {
  display: none;
}

.checkbox span {
  cursor: pointer;
}

.checkbox input:checked + span::before {
  content: "[x]";
}

.checkbox input:not(:checked) + span::before {
  content: "[ ]";
}

input[type="submit"] {
  background: none;
  border: none;
  color: #00ff00;
  font-family: "Courier New", monospace;
  cursor: pointer;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-size: 1em;
  line-height: 1;
  font-weight: normal;
}

input[type="submit"]:hover {
  color: black;
  background-color: #00ff00;
}

input[type="text"] {
  background: transparent;
  border: none;
  color: #00ff00;
  font-family: "Courier New", monospace;
  font-size: 1em;
  padding: 0;
  margin: 0;
  outline: none;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: content-box;
}

input[type="text"]::placeholder {
  color: #004400;
}

p {
  text-wrap: wrap;
  white-space: pre-wrap;
  margin: 0;
}

.md {
  white-space: normal;
}
